body {
  width: 100%;
  background-image: url("jakub-kapusnak-296881-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Karla', sans-serif, serif, Arial;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Raleway', sans-serif, serif;
}

.register-form-box-container {
  border-radius: 10px;
  background-color: #FAF7F2;

  padding: 0px 50px 20px 50px;
  text-align: center;
  margin-top: 50px;
}
.register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.register-form-container h2 {
  font-size: 40px;

  margin-top: none;
  margin-bottom: 20px;
  text-decoration: none;
}

.register-input {
  margin: auto;
  margin-bottom: 20px;
  box-shadow: none;
  text-decoration: none;
  box-sizing: border-box;
}

.form-control {
  margin: auto;
  font-size: 15px;
  padding: 15px;
  border-radius: 5px;
  /* background-color: #FAF7F2; */
  background-color: white;
  border: 1px solid transparent;
}

.sign-up-button {
  width: 225px;
  margin: auto;
}

#primary-style-button {
  font-size: 15px;
  color: white;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid transparent;
  background-color: #559AD1;
  width: 225px;
  height: 40px;
  cursor: pointer;

}

#primary-style-button:hover {
  background-color: rgb(65, 143, 206);
}

.fa-icons-login {
  font-size: 18px;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}