@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Oxygen|Ubuntu');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Oxygen', sans-serif, serif, Arial;
    background-color: rgb(230, 230, 230);
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

/* -------------------------BANNER--------------------- */

.banner-img {
    background-image: url("../images/bowl-chopsticks-cuisine-2133989.jpg");
    /* z-index: -1; */
    position: relative;
    height: 40vh;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    width: 100%;
    float: left;
}

#header-left {
    margin: 15px 0 0 15px;
    float: left;
}

#header-right {
    margin: 15px 15px 0 0;
    display: flex;
    float: right;
    align-items: center;
}

#header-right:hover span {
    text-shadow: 0.5px 0 0 white;
}

#logo {
    padding: 4px 4px 4px 4px;
    color: white;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.8);
}

.fa-user-circle {
    margin-right: 5px;
    color: white;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

#sign-in {
    color: white;
    font-size: 1.2em;
}

/*-------------------------- MAIN CONTAINER----------------------- */

.main-container {
    box-sizing: border-box;
    max-width: 100vw;
    float: left;
    margin: 40px;
}

.main-container * {
    color: rgb(20, 20, 20);
}

.left-container {
    box-sizing: border-box;
    width: 50%;
    float: left;
    border-right: 1px solid grey;
}

.right-container {
    box-sizing: border-box;
    padding-left: 40px;
    width: 50%;
    float: right;
}

#rest-name {
    text-decoration: underline;
}

/* Slideshow container */

.images {
    max-width: 92%;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.slideshow-container img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* -----------------------RIGHT CONTAINER ---------------------- */

.right-container {
    margin-top: 75px;
    ;
}

.checked {
    color: orange;
}

.book-now {
    margin-left: 200px;
    background-color: dodgerblue;
    padding: 12px 28px;
    border: none;
    color: white;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2px;
}

.right-container table {
    text-align: left;
    margin-top: 10px;
}

.right-container table th {
    padding-right: 50px;
}

.right-container table td {
    font-style: italic;
}

.reviews span {
    font-size: 0.7em;
    font-style: italic;
}

.reviews {
    line-height: 2em;
}
